.navigation{
    position: sticky;
    top: 0;
    width: 100vw;
    min-height: 4rem;
    background-color: rgb(69, 69, 228);
    display: flex;
    justify-content:flex-start;
    align-items: center;
    z-index: 5;
}

.logo{
    padding-left: 2rem;
}

.data-input{
    margin-left: 15rem;
    padding: 7px 1rem;
    border-radius: 10px;
}

input, input::placeholder{
    font-size: 1rem;
}