.filter-bar{
    position: sticky;
    top: 6rem;
    grid-area: sidebar;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 5rem;
}

.clear-btn{
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
}